/* body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 16px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  /* Ich verstehe nicht warum man hier noch margin angibt, wenn es gelöscht wird verändert sich der obere
  Rahmen ? */
/* margin-top: 0px; */
/* hier ist ein margin angegeben zum 2. Objekt (.content), obwohl dieses auch einen margin-top von
  8px hat - es sollte also nicht bewirken; nach dem Löschen der Zeile wird der Zwischenraum größer ? */
/* margin-bottom: 8px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  margin: 8px auto;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px ;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
} */

/*     <div class="card">
          <h1 class="title">I'm a card</h1>
          <div class="content">I have content inside me..lorem ipsum blah blah blah. Here's some stuff you need to read.</div>
          <div class="button-container">and a <button>BIG BUTTON</button></div>
    </div> */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  /* you need display:flex or display:grid:  to give a gap of 8px between elements,  */
  display: flex;
  flex-direction: column;
  width: 400px;
  background: #fff;
  /* margin: 16px auto; remove this to have a empty margin*/
  /* - There is 8px between the edge of the card and its content (the blue sections). */
  padding: 8px;
  /* - There is an 8px gap between each of the blue sections inside the card. -gap 8*/
  gap: 8px;
  border: 2px solid red;
}

.title {
  background: #e3f4ff;
  border: 2px solid green;
}

.content {
  background: #e3f4ff;
  border: 2px solid blue;
}

.button-container {
  background: #e3f4ff;
  border: 2px solid orange;
}

button {
  background: white;
  border: 1px solid #eee;
}
